.tts{
    border: 2px solid;
    border-color: lightgray;
    border-radius: 0.5rem;
    padding-right: 1rem;
}

.ta{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.tevents {
    border: 2px solid;
    border-color: lightgray;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
}