@model MYT.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="https://i.ya-webdesign.com/images/vector-login-username-5.png" id="icon" alt="User Icon" />
            </div>
            <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                <input asp-for="Email" type="text" id="login" class="fadeIn second" placeholder="login">
                <input asp-for="Password" type="password" id="password" class="fadeIn third" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password? /</a>
                <a asp-action="Register" asp-controller="Account" class="underlineHover">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
